.container {
  display: flex;
  justify-content: space-between;

  height: 10vh;
  width: 99vw;
}
#input {
  height: 5vh;
  width: 7vw;
}
#btn {
  width: 8vw;
  height: 5vh;
  border-radius: 0.5vw;
  color: black;
  background-color: white;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  font-size: 2vmin;
}
#btn:hover {
  color: white;
  background-color: black;
}
.red {
  background-color: red;
  border-radius: 50%;
  height: 7vh;
  width: 3.25vw;
}
.red-container,
.blue-container,
.green-container {
  display: flex;
}
.blue {
  background-color: blue;
  border-radius: 50%;
  height: 7vh;
  width: 3.25vw;
}
.green {
  background-color: green;
  border-radius: 50%;
  height: 7vh;
  width: 3.25vw;
}
@keyframes red-drop {
  to {
    transform: translate(5vw, 90vh);
  }
}
.red-animate {
  animation: red-drop 3s 1;
  animation-fill-mode: forwards;
}
@keyframes blue-drop {
  to {
    transform: translate(-4vw, 90vh);
  }
}
.blue-animate {
  animation: blue-drop 3s 1;
  animation-fill-mode: forwards;
}
@keyframes green-drop {
  to {
    transform: translate(-15vw, 90vh);
  }
}
.green-animate {
  animation: green-drop 3s 1;
  animation-fill-mode: forwards;
}
.box {
  height: 50vh;
  width: 60vw;
  position: absolute;
  bottom: 0;
  left: 25%;
  border: solid 4px black;
  border-top-style: none;
  border-radius: 5%;
}
